:root {
    --font-family: "Inter", sans-serif;
}


a{
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


.contacts__head {
    background-color: #D4DDEE;
    padding: 15px 0 15px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #2754a8;
    width: 100%;
    max-width: 1920px;
    margin-top: 0;
    text-align: right;
}



.container {
    max-width: 920px;
    margin: 0 auto;
}

.contacts span {
    color: red;
}

.contacts:hover span {
    color: #2754a8;
}

@media(hover:hover){
    .contacts:hover {
        color: #e03838;
    }
}

@media(hover:none){
    .contacts:active {
        color: #e03838;
    }
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}
  
.header__list {
display: flex;
justify-content: space-between;
text-align: center;
font-family: var(--font-family);
}


@media (hover:hover){
    .header__list a:hover {
        color: red;
    }
}


@media (hover:none){
    .header__list a:active {
        color: red;
    }
}


.header__list li {
margin-right: 15px;
}

.header__list li:last-child {
margin-right: 0;
}
  

.main__inner {
    display: flex;
    justify-content: space-between;
    padding: 50px 0 15px;
}

.form__contacts {
    width: 100%;
    margin: 0 auto;
}

.form__contacts button {
    font-family: var(--font-family);
    border: none;
    border-radius: 50px;
    padding: 10px 0 10px;
    width: 341px;
    height: 60px;
    margin: 50px 0 50px;
    background: #e03838;
    color: white;
}

@media(hover:hover){
    .form__contacts button:hover {
        background: #2754a8;
    }
}

@media(hover:none){
    .form__contacts button:active {
        background: #2754a8;
    }
}


.form__contacts a {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: #aaa;
    border-bottom: 1px solid #aaa;
    padding: 20px 56px;
    width: 155px;
    height: 62px;
}

.form__contacts p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #111;
}

.form__title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 35px;
    line-height: 120%;
    text-transform: uppercase;
    color: #2754a8;
}

.form__img {
    width: 100%;
    padding: 58px 0 58px;
    max-width: 500px;
}


